@* 
<div class="container mt-5">
    <form asp-controller="JinsiDonation" asp-action="CreateJinsiDonation" id="productForm">
        <div class="form-row">
           
            <div class="form-group col-lg-6">
                <label for="name">नाम:</label>
                <select class="form-control" required>
                    <option value="">Select Name</option>
                    @foreach (var itemm in ViewBag.JinsiDonations)
                    {
                        <option value="">@itemm.name</option>
                    }
                </select>
            </div>

            <!-- Cost field -->
            <div class="form-group col-lg-6">
                <label for="Cost">कोस्ट:</label>
                <input type="text" class="form-control" asp-for="Cost">
            </div>

            <!-- Brand field -->
            <div class="form-group col-lg-6">
                <label for="Brand">ब्राण्ड:</label>
                <input type="text" class="form-control" asp-for="Brand" required>
            </div>

            <!-- Quantity field -->
            <div class="form-group col-lg-6">
                <label for="Quantity">मात्रा:</label>
                <input type="number" class="form-control" asp-for="Quantity" step="any" required>
            </div>

            <!-- Kaifayat field -->
            <div class="form-group col-lg-6">
                <label for="Kaifayat">कैफियत:</label>
                <input type="text" class="form-control" asp-for="Kaifayat" required>
            </div>

            <!-- Source field -->
            <div class="form-group col-lg-6">
                <label for="Source">स्रोत:</label>
                <input type="text" class="form-control" asp-for="Source" required>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">पेश गर्नुहोस्</button>
    </form>
</div>
 *@