﻿@{
    ViewData["Title"] = "Reports";
}

<div class=" mt-5">

    <!-- Tabs for different report categories -->
    <ul class="nav nav-tabs" id="reportTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="disaster-tab" data-toggle="tab" href="#disaster" role="tab" aria-controls="disaster" aria-selected="true">विपत्तिको रिपोर्ट</a>
        </li>
        </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content mt-3">
        <!-- Disaster Reports -->
        <div class="tab-pane fade show active" id="disaster" role="tabpanel" aria-labelledby="disaster-tab">
            <form method="post" action="@Url.Action("GenerateDisasterReport", "Report")">
                <div class="form-group">
                    <label for="disasterType">विपत्ति प्रकार:</label>
                    <select class="form-control" id="disasterType" name="disasterType">
                        <option value="All">सबै</option>
                        <option value="Landslide">पहिरो</option>
                        <option value="Earthquake">भूकम्प</option>
                        <option value="Flood">जलप्रलय</option>
                        <option value="Fire">आगो</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="phoneNumber">फोन नम्बर:</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                </div>

                <div class="form-group">
                    <label for="startDate">सुरुआत मिति:</label>
                    <input type="date" class="form-control" id="startDate" name="startDate">
                </div>
                <div class="form-group">
                    <label for="endDate">अन्त्य मिति:</label>
                    <input type="date" class="form-control" id="endDate" name="endDate">
                </div>
                <button type="submit" class="btn btn-primary">रिपोर्ट सिर्जना गर्नुहोस्</button>
            </form>
        </div>

      
    </div>






   
</div>