@model Image



<form asp-action="Create" method="post" enctype="multipart/form-data">
    <h1>फोटो सूचना</h1>
    <div class="form-group">
        <label for="imageFiles">फोटोहरू अपलोड गर्नुहोस्</label>
        <input type="file" class="form-control" id="imageFiles" name="imageFiles" multiple />
        <small class="form-text text-muted">तपाईं एक पटकमा अपलोड गर्न धेरै फोटोहरू चयन गर्न सक्नुहुन्छ।</small>
    </div>

    <div class="form-group">
        <label for="Description">फोटो विवरण</label>
        <textarea class="form-control" id="Description" name="Description" placeholder="Enter description for the images"></textarea>
    </div>

    <div class="form-group">
        <label for="DisasterDate">विपत्ति मिति</label>
        <input type="date" class="form-control" id="DisasterDate" name="DisasterDate" />
    </div>

    <div>
        <h3>Witness Section</h3>
        <div class="form-group">
            <label for="WitnessName">Witness Name</label>
            <input type="text" class="shorttext" id="WitnessName" asp-for="WitnessName">
        </div>

        <div class="form-group">
            <label for="WitnessAddress">Witness Address</label>
            <input type="text" class="form-control" id="WitnessAddress" asp-for="WitnessAddress">
        </div>

        <div class="form-group">
            <label for="WitnessPhonenumber">Witness Phonenumber</label>
            <input type="text" class="numb" id="WitnessPhonenumber" asp-for="WitnessPhonenumber">
        </div>

        <div class="form-group">
            <label for="WitnessGender" class="form-label">लिंग</label>
            <select id="WitnessGender" asp-for="WitnessGender" class="form-select" required>
                <option value="" selected>लिंग चयन गर्नुहोस्</option>
                <option value="Male">पुरुष</option>
                <option value="Female">महिला</option>
                <option value="Other">अन्य</option>
            </select>
        </div>
      </div>
    <button type="submit" class="btn btn-primary">फोटोहरू अपलोड गर्नुहोस्</button>
</form>
