<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <form asp-controller="Donation" asp-action="CreateGiveDOnation" id="paymentForm">
            <div class="form-row">
                <input type="hidden" name="type" value="Give" />
                <input type="hidden" name="paymentMethod" value="cheque" />
                <div class="form-group col-lg-6">
                    <label for="name">नाम:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="form-group col-lg-6">
                    <label for="SecretNumber">गुप्त नम्बर:</label>
                    <input type="text" class="form-control" id="SecretNumber" name="SecretNumber" required>
                </div>

                <div class="form-group col-lg-6">
                    <label for="phoneNumber">फोन नम्बर:</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required>
                </div>

                <div class="form-group col-lg-6">
                    <label for="email">इमेल:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>

                <div class="form-group col-lg-6">
                    <label for="address">ठेगाना:</label>
                    <input type="text" class="form-control" id="address" name="address" required>
                </div>

                @*      <div class="form-group col-lg-6">
                <label for="paymentMethod">Payment Method:</label>
                <select class="form-control" id="paymentMethod" name="paymentMethod" onchange="showRelevantFields()" required>
                <option value="">Select</option>
                <option value="cash">Cash</option>
                <option value="cheque">Cheque</option>
                </select>
                </div> *@


              


                <div class="form-group col-lg-6 " id="bankNameField">
                    <label for="bankName">बैंकको नाम:</label>
                    <input type="text" class="form-control" id="bankName" name="bankName">
                </div>

                <div class="form-group col-lg-6 " id="amountField">
                    <label for="amount">रकम:</label>
                    <input type="text" class="form-control" id="amount" name="amount">
                </div>

               @*  <div class="form-group col-lg-6" id="Jinsi">
                    <label for="Jinsi">Jinsi:</label>
                    <input type="text" class="form-control" id="Jinsi" name="Jinsi">
                </div> *@
                <div class="form-group col-lg-6">
                    <label for="name">नाम:</label>
                    <select class="form-control" id="Jinsi" name="Jinsi" multiple>
                        <option value="">Select Name</option>
                        @foreach (var itemm in ViewBag.JinsiDonations)
                        {
                            <option value="@itemm.id">@itemm.name</option>
                        }
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">पेश गर्नुहोस्</button>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
