<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .hidden {
            display: none;
        }

      
    </style>
</head>
<body>

    <div class="container mt-5">
        <form asp-controller="Donation" asp-action="CreateGiveDOnation" id="paymentForm">
            <div class="form-row">
                <input type="hidden" name="type" value="Give" />
                <input type="hidden" name="paymentMethod" value="cheque" />
                <div class="form-group col-lg-6">
                    <label for="name">नाम:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="form-group col-lg-6">
                    <label for="SecretNumber">गुप्त नम्बर:</label>
                    <input type="text" class="form-control" id="SecretNumber" name="SecretNumber" required>
                </div>

                <div class="form-group col-lg-6">
                    <label for="phoneNumber">फोन नम्बर:</label>
                    <input type="text" class="numb" id="phoneNumber" name="phoneNumber" required>
                </div>

                <div class="form-group col-lg-6">
                    <label for="email">इमेल:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>

                <div class="form-group col-lg-6">
                    <label for="address">ठेगाना:</label>
                    <input type="text" class="form-control" id="address" name="address" required>
                </div>

                @*      <div class="form-group col-lg-6">
                <label for="paymentMethod">Payment Method:</label>
                <select class="form-control" id="paymentMethod" name="paymentMethod" onchange="showRelevantFields()" required>
                <option value="">Select</option>
                <option value="cash">Cash</option>
                <option value="cheque">Cheque</option>
                </select>
                </div> *@


              


                <div class="form-group col-lg-6 " id="bankNameField">
                    <label for="bankName">बैंकको नाम:</label>
                    <input type="text" class="form-control" id="bankName" name="bankName">
                </div>

                <div class="form-group col-lg-6 " id="amountField">
                    <label for="amount">रकम:</label>
                    <input type="numb" class="form-control" id="amount" name="amount">
                </div>

               @*  <div class="form-group col-lg-6" id="Jinsi">
                    <label for="Jinsi">Jinsi:</label>
                    <input type="text" class="form-control" id="Jinsi" name="Jinsi">
                </div> *@
               
                <div class="form-group col-lg-6">
                    <label for="name">नाम:</label>
                    <select class="chosen-select form-control" id="Jinsi" name="Jinsi" multiple>
                        @* <option value="">Select Name</option> *@
                        @foreach (var itemm in ViewBag.JinsiDonations)
                        {
                            <option value="@itemm.id">@itemm.name</option>
                        }
                    </select>
                </div>

                <div class="form-group col-lg-6">
            
                    <div class="form-group" id="quantity-group-1">
                        <label for="quantity-1">Quantity:</label>
                        <select class="chosen-select form-control" id="quantity-1" name="Quantity" multiple>
                            @for (int j = 1; j < 10; j++)
                            {
                            @for (int i = 1; i < 10; i++)
                            {
                                <option value=@i>@i</option>
                            }
                            }
                        </select>
                    </div>
                </div>
             
            </div>
            <button type="submit" class="btn btn-primary">पेश गर्नुहोस्</button>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

    <script>
        $(".chosen-select").chosen({
            no_results_text: "Oops, nothing found!",
            width: "100%" 
        })
                $("#quantity-1").on('change', function () {
            var selectedValues = $(this).val(); // Get selected values
                var options = $(this).find('option'); // Get all options in the select

                // Loop through all options and hide those that are selected
                options.each(function () {
                    var option = $(this);
                    if (selectedValues.includes(option.val())) {
                        option.hide(); // Hide the selected option
                    } else {
                        option.show(); // Ensure unselected options are visible
                    }
                });

                // Re-initialize Chosen plugin to update the dropdown UI
                $(this).trigger('chosen:updated');
            });
    </script>
</body>
</html>
