
    <style>
        .hidden {
            display: none;
        }

      
    </style>


    <div class="container mt-5">
         <form asp-controller="Donation" asp-action="CreateGiveDOnation" id="paymentForm">
        <div class="form-row">
            <input type="hidden" name="type" value="Give" />
            <div class="form-group col-lg-6">
                <label for="name">नाम:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group col-lg-6">
                <label for="SecretNumber">गुप्त नम्बर:</label>
                <input type="text" class="form-control" id="SecretNumber" name="SecretNumber" required>
            </div>

            <div class="form-group col-lg-6">
                <label for="phoneNumber">फोन नम्बर:</label>
                <input type="text" class="numb" id="phoneNumber" name="phoneNumber" required>
            </div>

            <div class="form-group col-lg-6">
                <label for="email">इमेल:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="form-group col-lg-6">
                <label for="address">ठेगाना:</label>
                <input type="text" class="form-control" id="address" name="address" required>
            </div>

            <div class="col-lg-12" id="receiveFieldsContainer">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="paymentMethod">भुक्तानी विधि:</label>
                        <select class="form-control payment-receive-method chosen-select" id="paymentMethod" name="paymentMethod" onchange="showReceiveRelevantFields(this)" required>
                            <option value="">चयन गर्नुहोस्</option>
                            <option value="cash">नगद</option>
                            <option value="cheque">चेक</option>
                            <option value="Jinsi">Jinsi</option>
                        </select>
                    </div>

                    <div class="form-group hidden col-lg-4 amount-field">
                        <label for="amount">रकम:</label>
                        <input type="text" class="form-control amount" id="amount" name="amount">
                    </div>

                    <div class="form-group col-lg-4 hidden bank-name-field">
                        <label for="bankName">बैंकको नाम:</label>
                        <input type="text" class="form-control bank-name" id="bankName" name="bankName">
                    </div>

                    <div class="form-group col-lg-4 hidden bank-name-field">
                        <label for="chequeNumber">Cheque Number:</label>
                        <input type="text" class="form-control chequeNumber" id="chequeNumber" name="chequeNumber">
                    </div>

                    <div class="form-group jinsiField hidden col-lg-6">
                    <label for="name">jinsi:</label>
                    <select class="form-control" id="Jinsi" name="Jinsi">
                        <option value="">Select Name</option> 
                        @foreach (var itemm in ViewBag.JinsiDonations)
                        {
                            <option value="@itemm.id">@itemm.jname</option>
                        }
                    </select>
                </div>

                <div class="form-group jinsiField hidden col-lg-6">
            
                        <label for="quantity">Quantity:</label>
                        <input type="text" class="form-control Quantity" id="Quantity" name="Quantity">

                       @*  <select class="form-control" id="Quantity" name="Quantity">
                              <option value="0">Select Quantity</option> 
                            @for (int i = 1; i < 25; i++)
                            {
                                <option value=@i>@i</option>
                            }
                            
                        </select> *@
                </div>

                 @*    <div class="form-group jinsiField hidden col-lg-4">
                        <label for="Quantity">मात्रा:</label>
                        <input type="number" class="form-control" id="Quantity" name="Quantity" step="any">
                    </div> *@
                </div>
            </div>
            </div>
                     <button type="button" class="btn btn-primary m-2" id="addReceiveFieldsButton">Add</button>
            <button type="button" class="btn btn-danger m-2" id="removeReceiveLastFieldsButton">Remove Last</button>
            <button type="submit" class="btn btn-primary">पेश गर्नुहोस्</button>
        </form>
        
   
    </div>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />



 
   <script>

        $(document).ready(function () {
            function showReceiveRelevantFields(selectElement) {
              
            var receiveFieldsContainer = $(selectElement).closest('#receiveFieldsContainer');

           console.log(receiveFieldsContainer.length);
                if (receiveFieldsContainer.length === 0) {
                    console.log("receiveFieldsContainer not found!");
                    return;
                }

                var bankField = receiveFieldsContainer.find('.bank-name-field');
            var jinsiField = receiveFieldsContainer.find('.jinsiField');
            var amountField = receiveFieldsContainer.find('.amount-field');
            
                if (bankField.length === 0) return; 

                var paymentMethod = $(selectElement).val(); 

                if (paymentMethod === "cheque") {
                    bankField.removeClass('hidden');
                amountField.removeClass('hidden');
                jinsiField.addClass('hidden')
                } else if (paymentMethod === "cash") {
                    bankField.addClass('hidden');
                    jinsiField.addClass('hidden');
                amountField.removeClass('hidden');
                }
            else if (paymentMethod === "Jinsi") {
                bankField.addClass('hidden');
                jinsiField.removeClass('hidden')
                amountField.addClass('hidden');
                }
            }
        var fieldCounter = 0;

            $('#addReceiveFieldsButton').on('click', function () {
                alert("hi");
                var container = $('#receiveFieldsContainer');
                console.log(container.length);
                var clonedFields = container.clone();

                 fieldCounter++;
         clonedFields.find('input[type="text"], input[type="number"]').val('');

                container.parent().append(clonedFields);

                    var newSelectElement = clonedFields.find('.payment-receive-method');


            if (newSelectElement.length > 0) {
                newSelectElement.on('change', function () {
                    showReceiveRelevantFields(this);
                });

                showReceiveRelevantFields(newSelectElement);
            } else {
                console.log("newrecSelectElement not found or invalid.");
            }
              
                showReceiveRelevantFields(newSelectElement);
            });

            $('.payment-receive-method').on('change', function () {
                showReceiveRelevantFields(this);
            });

       
        $('#removeReceiveLastFieldsButton').on('click', function () {
            var lastContainer = $('#receiveFieldsContainer').parent().children('#receiveFieldsContainer').last();
            var Containercount = $('#receiveFieldsContainer').parent().children('#receiveFieldsContainer');

            console.log(Containercount.length)
            if (Containercount.length > 1) {
                lastContainer.remove();
            } else {
                console.log("No containers to remove.");
            }
        });
        });

    </script>

    
