@model AssignVolunteerViewModel

    <form asp-action="AssignVolunteer" method="post">
        <input type="hidden" asp-for="Id" />

    <label for="volunteers">स्वयंसेवक चयन गर्नुहोस्:</label>
        <select asp-for="SelectedVolunteerId" asp-items="@(new SelectList(Model.AvailableVolunteers, "Id", "Name"))">
        <option value="">-- स्वयंसेवक चयन गर्नुहोस् --</option>
        </select>

    <button type="submit">स्वयंसेवक नियुक्त गर्नुहोस्</button>
    </form>

