 @model Victim
<form id="PrintPage">
	<fieldset class="border p-4 mb-2 rounded shadow">
		<legend class="w-auto font-weight-bold text-uppercase"> <b><u> पीडितको सूचना</u></b></legend>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="Secret_Number">Secret_Number:</label>
					<input type="text" class="form-control" id="Secret_Number" asp-for="Secret_Number" readonly>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="name">नाम:</label>
					<input type="text" class="form-control" id="name" asp-for="Name" readonly>
				</div>
			</div>

			<div class="col-md-1">
				<div class="form-group">
					<label for="age">उमेर:</label>
					<input type="text" class="form-control" id="age" asp-for="Age" readonly>
				</div>
			</div>

			<div class="col-md-2">

				<div class="form-group">
					<label for="gender">लिंग:</label>
					<input type="text" class="form-control" id="age" asp-for="Gender" readonly>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="contactNumber">सम्पर्क नम्बर:</label>
					<input type="tel" class="form-control" id="contactNumber" asp-for="ContactNumber" readonly>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="Email">इमेल:</label>
					<input type="tel" class="form-control" id="Email" asp-for="Email" readonly>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="Citizenship Number">नागरिकता नम्बर:</label>
					<input type="tel" class="form-control" id="CitizenshipNumber" asp-for="CitizenshipNumber" readonly>
				</div>
			</div>

			<div class="col-md-2">
				<div class="form-group">
					<label for="NIDNumber">एनआईडी नम्बर:</label>
					<input type="tel" class="form-control" id="NIDNumber" asp-for="NIDNumber" readonly>
				</div>
			</div>

			<div class="col-md-2">
				<div class="form-group">
					<label for="FatherName">बुबाको नाम:</label>
					<input type="tel" class="form-control" id="FatherName" asp-for="FatherName" readonly>
				</div>
			</div>

			<div class="col-md-2">
				<div class="form-group">
					<label for="MotherName">आमाको नाम:</label>
					<input type="tel" class="form-control" id="MotherName" asp-for="MotherName" readonly>
				</div>
			</div>

			<div class="col-md-2">
				<div class="form-group">
					<label for="GrandFatherName">हजुरबुबाको नाम:</label>
					<input type="tel" class="form-control" id="GrandFatherName" asp-for="GrandFatherName" readonly>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label for="image">प्रोफाइल चित्र:</label>
					<!-- Check if the image exists (base64 data) and load it -->
					@if (!string.IsNullOrEmpty(Model.PPSizePhoto))
					{
						<img src="@($"data:image/jpeg;base64,{Model.PPSizePhoto}")" alt="Profile Picture" class="img-thumbnail" style="max-width: 120px; max-height: 120px;" />
					}
					else
					{
						<p>कुनै प्रोफाइल फोटो उपलब्ध छैन ।</p>
					}
				</div>
			</div>

		</div>



	</fieldset>

	<fieldset class="border p-4 mb-2 rounded shadow">
		<legend class="w-auto font-weight-bold text-uppercase"><b><u> विपत्तिको सूचना</u></b></legend>

		<div class="row">
		

			<div class="col-md-3">
				<div class="form-group">
					<label for="severity">गम्भीरता:</label>
					<input type="text" class="form-control" id="severity" asp-for="Disaster.DisasterType" readonly>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="Description">विवरण:</label>
					<input type="text" class="form-control" id="description" asp-for="Disaster.Description" readonly>
				</div>
			</div>
			@* <div class="col-md-6">
				<div class="form-group">
					<label for="dateOccured">Date Occurred:</label>
					<input type="date" class="form-control" id="dateOccured" asp-for="created_at" readonly>
				</div>
			</div> *@
		</div>




	</fieldset>

	<fieldset class="border p-4 mb-2 rounded shadow">
		<legend class="w-auto font-weight-bold text-uppercase"><b><u> स्थानको जानकारी </u></b></legend>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="province">प्रदेश:</label>
					<input type="text" class="form-control" id="province" asp-for="Location.PermanentProvince" readonly>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="District">जिल्ला:</label>
					<input type="text" class="form-control" id="District" asp-for="Location.PermanentDistrict" readonly>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="Municipality">नगरपालिका:</label>
					<input type="text" class="form-control" id="Municipality" asp-for="Location.PermanentMunicipality" readonly>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="Tole">टोल:</label>
					<input type="text" class="form-control" id="Tole" asp-for="Location.PermanentTole" readonly>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="Tempprovince"> अस्थायी प्रदेश:</label>
					<input type="text" class="form-control" id="Tempprovince" asp-for="Location.TemporaryProvince" readonly>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="TempDistrict">अस्थायी जिल्ला:</label>
					<input type="text" class="form-control" id="TempDistrict" asp-for="Location.TemporaryDistrict" readonly>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="TempMunicipality">अस्थायी नगरपालिका:</label>
					<input type="text" class="form-control" id="TempMunicipality" asp-for="Location.TemporaryMunicipality" readonly>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="TempTole">अस्थायी टोल:</label>
					<input type="text" class="form-control" id="TempTole" asp-for="Location.TemporaryTole" readonly>
				</div>
			</div>

		</div>



	</fieldset>

	<fieldset class="border p-4 mb-2 rounded shadow">
		<legend class="w-auto font-weight-bold text-uppercase"><b><u> फोटोको जानकारी </u></b></legend>
		<div class="row">
			<div class="col-md-12">
				<div class="image-gallery">
					<h3>Uploaded Photos:</h3>
					<div id="imagePreviewContainer" class="d-flex flex-wrap">
						@if (Model.Images != null && Model.Images.Any())
						{
							foreach (var base64Image in Model.Images)
							{
								<div class="image-preview mr-2 mb-2">
									<img src="@($"data:image/jpeg;base64,{base64Image.ImageUrl}")" alt="Uploaded Image" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
								</div>
							}
						}
						else
						{
							<p>कुनै फोटो अपलोड गरिएको छैन ।</p>
						}
					</div>
				</div>
			</div>
			 <div class="col-md-12">
				<div class="form-group">
					<label for="Description">विवरण:</label>
					<textarea class="form-control" id="description" asp-for="Disaster.Description" rows="4" readonly></textarea>
				</div>
			</div> 
		</div>


	</fieldset>

	<button type="button" class="btn btn-primary" onclick="printPage()">प्रिन्ट पृष्ठ</button>
</form>



<script>
	function printPage() {
		// Hide the header and button for printing
		document.querySelectorAll('header, button').forEach(el => el.style.display = 'none');

		window.print();

		window.onbeforeprint = function () {
			document.querySelectorAll('header, button').forEach(el => el.style.display = '');
		};

		window.onafterprint = function () {
			document.querySelectorAll('header, button').forEach(el => el.style.display = '');
		};
	}
</script>

