@model Volunteer

<div class="container">
    <h2 class="text-center">नयाँ स्वयंसेवक सिर्जना गर्नुहोस्</h2>

    <form asp-controller="Volunteer" asp-action="Edit" method="POST">

        <div class="mb-3">
            <input type="text" class="form-control" id="name" asp-for="Id" required hidden>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">नाम</label>
            <input type="text" class="form-control" id="name" asp-for="Name" required>
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">उमेर</label>
            <input type="text" class="form-control" id="age" asp-for="Age" required>
        </div>

        <div class="mb-3">
            <label for="gender" class="form-label">लिंग</label>
            <select id="gender" name="gender" class="form-select" asp-for="Gender" required>
                <option value="" selected>लिंग चयन गर्नुहोस्</option>
                <option value="Male">पुरुष</option>
                <option value="Female">महिला</option>
                <option value="Other">अन्य</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="contactNumber" class="form-label">सम्पर्क नम्बर</label>
            <!--<input type="tel" class="form-control" id="contactNumber" asp-for="ContactNumber" readonly> -->
            <input type="tel" class="numb" id="contactNumber" name="contactNumber"
                   minlength="10" maxlength="10"
                   title="Please enter exactly 10 digits"
                   required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">इमेल</label>
            <input type="email" class="form-control" id="email" asp-for="Email" required>
        </div>

        <div class="mb-3">
            <label for="availability" class="form-label">उपलब्धता</label>
            <!-- <input type="text" class="form-control" id="availability" name="availability" asp-for="Availability" required> -->
            <select id="availability" name="availability" class="form-select" required>
                <option value="" selected>उपलब्धता चयन गर्नुहोस्</option>
                <option value="yes">छु</option>
                <option value="no">छैन</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">पेश गर्नुहोस्</button>
    </form>
</div>
